DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/hipercare"
DIRECT_URL=""
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="7d"
PORT=3000
FIREBASE_PROJECT_ID="your_firebase_project_id"
FIREBASE_CLIENT_EMAIL="your_firebase_client_email"
FIREBASE_PRIVATE_KEY="your_firebase_private_key"
FIREBASE_PRIVATE_KEY_BASE64="LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRRFd3Q0hHRVZiRDRIdEgKU043a2VLOEM3NEJJODV
5Z2thVEVpSHY1RWp2b1d4M09vb0srZVU3Vmw2aXFqQmxpOXNodzhaMDh6VnV0NWl5aApDdmY2KzJZOGYzOHphK2JYdTFCVXFyL2wzTUpvcG1mOEdDV0pHOGZKd1ovYTV2S04raTNXVVNaSG
xJTUJNT3FQCnhnU2hjZit4N1VqOVhjMnlwRTFmSjE1NDIvdy9lU0IyeXRHWjRBMVBKb0tRVE5ZdHhiUnRVeWswdG1zV0pPSEwKWjZBWUt6NE5MSnpaQ0pIOHlPbVM3dXRPU0NmckZFZ1oyM
2JmalpyRVhCSmRKQ09YcENLLzkwL21kdWxuMXhVWQpnUytMSy90Qzh0L2d0MXJkZjdwY1RVeXAxM0JLaFNVQ2cvYmk2T0lCRFVaQzkyR1krZERwWEJkWnhYSktNRXpmCkJ2YkV5K3FIQWdN
QkFBRUNnZ0VBQ3NSN2JRajFoc0M4cmFoVHRMVHdZWDlNdVZ1dG9NZHNzWVgrWVZDdXZFbkYKUnRVVEpTWEQ5Q1cwaVVpWkJVTkdiWk5QeFBxdS9Cc3NaYTY5SEZKNm45SHN1TkZTTThMcWx
qUXhodjc0cUhLZgppQjVWMDNnWEhtQ2MrVWJYSnBOQ3RScEFoeHBGTDB3YWxyYmhDSTlFdU5FaTljRThUUmE3NG1lQTd5Sm9sVzRQCjA4WlV0eE5JYmxlbEVZWXBjRGNybXJsWVBiMEtsbT
E0WW1LZEU3NzhrYnNYSjVPQk5RRDNrMzRNTFNaUDlUNisKV1QzaEp3VG9pY0pnajl6eVVyY1R2K1gzR1FsY3AyMWhFTkVkQmMxeGpmMlNUTlNKcG04K3JqUUVqdTZXR0FkVQpabHM3V0lJQ
0FSY3hKQnorSUVRU3lDdkUvNVlCeXlibGN3NldHb3FKY1FLQmdRRHY2dkt1R3RnN3JkNUpLaWttClAxMWpkVHdlUXVMcU1aSHptOE12VitSOVJ3RHZndGI0RElDZnJseDRxUDlDcnhsWmY3
Z1M4Qk5aYjUyZWVKK0sKeUpIcXI0NDJzMEFwZzZFU3VpL3F5aEpXU0IvUm5makp5SkM2N0R6Q3ZRbU5SUDY3NlJjY2NSeTNVMCtGcjM0cQpaTU9ZcE84VlE3UHlqUXBHTkQ5YkVLZFNKUUt
CZ1FEbEpVNnNnRzdaY3lmY2NaTGN4cUM4QlVLWVZvbDNsZUpVCjRMazBsRlVRTHI5Umd0eFBrNDl6SmJza0JkbTIvaEZtbERNWXc0aWYyM05UZHdVZ3RDbU4veU0zZ1dWY2s4OGkKYzFhVU
piZ0FCTFZ0dmhVcFBDRHRRQ3orUGpSOHdybnpmRDB5cDVwc01LKzJDUEliaHU3R3FUR05iczJjOFByNQpsUjUyRUtWTU93S0JnR3Z1YTR5TndSZGdDYThxaTJhTWZRdmdVdEplVHMwQ3plR
WxBck1LdkZ6cmsyMHNsRjcwCjZPeHRPV2FDeUlzTVVNQWxwLzdGQ0Q5azZpaS9wUzUvT3IyMGlxcnJDd05pRnhWZ3MydlJ5bHdNaUZ2NTBGR2UKckJXYmIxNUFRc3JON2pkRkRrT2FVMHZa
NjkxOWJLblB1UHF6d0diMWxUK1oyYlJwanRMOTgvZ05Bb0dBVE5PKwpWZjNWckpoOGM5K3NZdE5CenVoZ2xKem5DQzQ3clVPUE5QN0txbHRTRCswMUdvVVo0bnh6Q3pmZThBaXRJdHhyCmF
WRWR2S01pUG9pNE1tZlZTdU9SRmlvUEp3UHp2ZFEzNGdIbmVESWI5a2gxNWRaZ0g4dVZpa1NtNm5HTFVRU0YKckRjZmdraXNrUGJjM2JmVzFNcWpiNDBINlNldXJnRitMZzJVcmtNQ2dZQW
hobnN3ZnlWRnZxVUloZXc0M3AwcAoyaXp3SVVRU01jZjZKVFd1Mjl3RXl5cFhrWUEwYjY1WDlQVjA1eVJ2cHdzUmRDTk9GZDM2VWhYM1RiMk9pQy9zCkNUUEVoY0JWV25JTmdTanFrTE83a
0kyNHJTK0lsL0U4blBaNUJ3TkUxSjQvNDl1dFJCWmRIOHI0MWxiM1haZzkKYlFKZEZxSmFpbXpCMnhoRnlIejJqdz09Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
